<!DOCTYPE html>
<html>
    <title>Home | NCAR Stratus UI</title>
        <link rel="canonical" href="{{ url_for('home') }}"/>
        <meta property="og:title" content="Home | NCAR Stratus UI"/>
        <meta property="og:url" content="{{ url_for('home') }}"/>
        <meta property="og:site_name" content="ncar_stratus_ui"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="{{url_for('static',  filename='app.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nav').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="nav"></div>
        <br>
        {% if session['secret_key'] is defined %}
            <div class="bubble">
                <h3>Logged in under Access ID:</h3>
                    <strong>{{ session['access_id'] }}</strong>
                <div class="sideby">
                    <form action="/stratus/logout" method="post">
                        <input type="submit" value="Logout">
                    </form> <br>
                    <form action="/" method="get">
                        <input type="submit" value="Home">
                    </form>
                </div>
            </div>
        <hr>
        {% else%}
            <div class="row">
                <div class="column">
                    Stratus Login
                    <form action="/stratus/login" method="post">
                        Access ID : <input type="text" id="access_id" name="access_id" placeholder="Access ID"><br><br>
                        Secret Key : <input type="password" id="secret_key" name="secret_key" placeholder="Secret Key"><br><br>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        <hr>
        {% endif %}
        {% if bucket_objs is defined %}
        <div class="down-bubble">
            <div class="sideby">
                <form action="/stratus/download/{{ bucket_name }}/filter" method="get">
                    <input type="submit" value="Filter"> : <input type="text" id="filter" name="filter" placeholder="LENS2"> <br>
                </form> 
                <form action="/stratus/download/{{ bucket_name }}" method="get">
                    <input type="submit" value="Clear Filter">
                </form>
            </div>
            <hr>
            <form action="/stratus/download/{{ bucket_name }}" method="post">
                <input type="submit" value="Download Selected">
                <br>
                <div class="download-list">
                    <label class="select_all" for="chkbxAll">
                        <input onchange="selectAllChkboxes()" class="select_all" type="checkbox" id="chkbxAll"/>All
                    </label> <br>
                    {% for bucket_obj in bucket_objs %}
                        <label class="select-option" for="chkbx{{ bucket_obj }}">
                            <input type="checkbox" name="selected_object" class="select-option" value="{{ bucket_obj }}">
                        </label>
                        {{ bucket_obj }} <br>
                    {% endfor %}
                    </div>
            </form>
        </div>
        {% endif %}
    </body>